* {
    box-sizing: border-box;
}

body {
    font-family: "Heebo-Regular",sans-serif;
    
}

.color__gray {
    color: #555;
}

@font-face {
    font-family: "Heebo-Bold";
    src: url("../assets/fonts/Heebo-Bold.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Semibold";
    src: url("../assets/fonts/Heebo-SemiBold.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Regular";
    src: url("../assets/fonts/Heebo-Regular.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Thing";
    src: url("../assets/fonts/Heebo-Thin.ttf") format("woff2")
}