body {
    font-family: "Heebo-Regular",sans-serif;
}

.page__content {
    
}

.page__section--primary {
    height: 700px;
    background-color: #fff;
    margin-top: -8rem;
}

.page__section--presentation {
    background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    height: 100%;
    display: flex;
    justify-content: center;
}

.presentation__container {
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgb(153 153 153 / 30%);
    border-radius: 12px;
    height: 800px;
    margin-top: 5rem;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    width: 100%;
    max-width: 1620px;
}

.presentation__img {
    border-radius: 12px;
    width: 710px;
    height: 100%;
}

.presentation__content {
    padding: 6rem 8rem 0 8rem;
}

.presentation__intro-text {
    font-family: "Heebo-Thin",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

.presentation__title {
    font-family: "Heebo-Bold",sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 48px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.presentation__subtittle {
    font-family: "Heebo-Semibold",sans-serif;
    text-transform: uppercase;
}

.presentation__text {
    font-family: "Heebo-Regular",sans-serif;
    font-size: 16px;
    margin-top: 2rem;
    max-width: 530px;
    color: #777777;
    line-height: 26px;
}

.presentation__list {
    margin-top: 2rem;
}

.presentation__item {
    padding: .8rem 0;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.presentation__icon {
    font-size: 21px;
    color: #766dff;
    vertical-align: middle;
    width: 22px;
}

.presentation__info {
    margin-left: 1rem;
    color: #777777;
    font-size: 16px;
    font-family: "Heebo-Thin",sans-serif;
    vertical-align: middle;
}

.projects__content {
    padding-top: 16rem;
}

.projects__info {
    display: flex;
    justify-content: center;
}

.projects__title {
    color: #555;
    font-size: 26px;
    font-family: Rubik,sans-serif;
    font-weight: 400;
    flex: 8;
}

.card__group {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
	background-repeat: no-repeat !important;
    background-size: cover !important;
	background-position: center !important;
	display: inline-block;
	transition-duration: .3s;
	width: 380px;
	height: 235px;
	margin: 1rem;
}

.card:hover {
	transform: scale(1.03);
}

@media (max-width: 1620px) {
    .page__section--primary {
        height: 620px;
    }

    .presentation__container {
        max-width: 1170px;
    }

    .presentation__content {
        padding: 2rem 1rem 0 3rem;
    }

    .card {
        width: 280px;
        height: 175px;
        margin: .5rem;
    }

}

@media (max-width: 1200px) {

    .presentation__container {
        flex-direction: column;
        max-width: 960px;
        height: 100%;
    }

    .presentation__content {
        margin: 0 auto;
    }

    .presentation__img {
        height: 500px;
        width: 500px;
        margin: 0 auto;
    }

    .card__group {
        flex-wrap: wrap;
    }

}

@media (max-width: 972px) {

    .presentation__container {
        max-width: 700px;
    }

}

@media (max-width: 767px) {

    .presentation__container {
        max-width: 540px;
    }

    .presentation__img {
        width: 100%;
    }
}

@media (max-width: 557px) {

    .presentation__container {
        margin-top: 0;
        border-radius: 0;
    }

    .presentation__img {
        width: 100%;
    }

    .card__link {
        width: 100%;
    }

    .card {
        width: 96%;
        height: 250px;
    }
}

@font-face {
    font-family: "Heebo-Bold";
    src: url("../assets/fonts/Heebo-Bold.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Semibold";
    src: url("../assets/fonts/Heebo-SemiBold.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Regular";
    src: url("../assets/fonts/Heebo-Regular.ttf") format("woff2")
}

@font-face {
    font-family: "Heebo-Thing";
    src: url("../assets/fonts/Heebo-Thin.ttf") format("woff2")
}